div.cell {
    width: 7vw;
    height: 7vw;
    margin: 2px;
}

div.cell.cell-white {
    background-color: rgb(236, 236, 236);
}

div.cell.cell-black {
    background-color: rgb(232, 186, 62);
}

div.cell.cell-can-select {
    box-shadow: 0px 0px 2px 2px inset #5c5c5c;
    transition: box-shadow 0.2s transform 0.2s;
}

div.cell.cell-can-select:hover {
    box-shadow: 0px 0px 4px 4px inset #282828;
}

div.cell.bg-danger {
    box-shadow: 0px 0px 2px 2px inset #5c5c5c;
    background-color: rgb(191, 72, 72);
}

div.cell.cell-target:hover {
    box-shadow: 0px 0px 5px 4px inset #282828;
}
