div.cell {
    cursor: pointer;
}

div.cell.cell-white {
    background-color: rgb(236, 236, 236);
}

div.cell.cell-black {
    background-color: rgb(232, 186, 62);
}

@keyframes on-cell-select-target-hover {
    from {
        box-shadow: 0px 0px 2px 2px inset #5c5c5c;
    }

    to {
        box-shadow: 0px 0px 4px 4px inset #282828;
    }
}

div.cell.cell-can-select {
    box-shadow: 0px 0px 2px 2px inset #5c5c5c;
}

div.cell.cell-can-select:hover {
    animation-name: on-cell-select-target-hover;
    animation-duration: 0.2s;
    box-shadow: 0px 0px 4px 4px inset #282828;
}

div.cell.cell-target {
    box-shadow: 0px 0px 2px 2px inset #5c5c5c;
    background-color: rgb(191, 72, 72);
}

div.cell.cell-target:hover {
    animation-name: on-cell-select-target-hover;
    animation-duration: 0.2s;
    box-shadow: 0px 0px 4px 4px inset #282828;
}

div.cell.cell-king-on-attack {
    background-color: #a311dd;
}
